@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fefefe;
    --color: #000000;
    --accent: #343941;
    --border: #C2C9D1;
    --tip:#D0D7DE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0D1116;
    --color: #E6EDF3;
    --accent: #8D96A0;
    --border: #30363D;
    --tip: var(--border);
  }
}

body, html {
  background: radial-gradient(circle, var(--border), 0%, var(--background) 100%);
  color: var(--color);
  scroll-behavior: smooth;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}

#header {
  -webkit-backdrop-filter: blur(10px) !important;
  backdrop-filter: blur(10px);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}